<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<h1>Upload Alert Log file</h1>

<form method="POST" action="/uploadAlerts" enctype="multipart/form-data">
    <input type="file" name="file" /><br/>
    <br/>
    <input type="submit" value="Submit" />
</form>

<h1>Upload database.json file</h1>

<form method="POST" action="/uploadDatabase" enctype="multipart/form-data">
    <input type="file" name="file" /><br/>
    <br/>
    <input type="submit" value="Submit" />
</form>


</body>
</html>